html,body{
	width: 100%;
	height: 100%;
	}
.top_wrap{
	height: 20px;
	width: 100%;
    background-color: #0000ff;
	}
.top_wrap span {
	height: 20px;
	margin-right: 20px;
	margin-left: 950px;
	text-align: center;
	color: white;
	font-size: 5px;
	}
.top_wrap a {
	margin-left: 10px;
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 5px;
	}
.nav_wrap{
	height: 100px;
	}

.nav_left_wrap {
	float: left;
	}

.nav_left_wrap img {
	margin-right: 45px;
	margin-left: 55px;
	margin-top: 20px;
	height: 60px;
	}
.nav_ul {
	margin-left: 250px;
}

.nav_ul ul li {
	margin-top: 41px;
	margin-left: 15px;
	float: left;
	list-style: none;
}

.nav_ul ul li a:hover {
	color: #1e59a8;
}

.nav_ul a {
	margin-left: 10px;
	text-align: center;
	text-decoration: none;
	color: black;
	font-size: 18px;
}
.option {
	margin-top: 40px;
	margin-right: 50px;
	float: right;
}

.option a {
	text-decoration: none;
	color: black;
	font-size: 5px;
}

.option a:hover {
	color: #1e59a8;
}
.option img {
	position: absolute;
	top: 94px;
	right: 6px;
	height: 20px;
}

.big_pic {
	height: 740px;
	width: 100%;
	overflow: hidden;
}

.big_pic img {
	height: 740px;
	width: 100%;
}

.body_part_two {
	margin-top: 50px;
	margin-left: 250px;
}

.body_part_two a {
	text-decoration: none;
	color: black;
	font-size: 20px;
}

.body_part_two td img {
	height: 200px;
	width: 260px;
}

.part-two_title1 {
	margin-top: 30px;
	margin-right: 50px;
}

.part-two_title1 tr {
	height: 40px;
	width: 345px;
}

.part-two_title1 tr:hover {
	color: #1e59a8;
}

.part-two_title1 td p {
	max-height: 40px;
	max-width: 305px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.part-three {
	margin-top: 130px;
	margin-left: 250px;
	width: 1100px;
}

.photo {
	margin-right: 50px;
	width: 200px;
	width: 220px;
}

.photo img {
	width: 100%;
}

.part-three_item {
	margin-top: 30px;
}

.part-three_item a {
	text-decoration: none;
	color: black;
	font-size: 20px;
}

.part-three_item_phone {
	margin-top: 20px;
	margin-right: 45px;
	width: 320px;
	height: 150px;
}

.part-three_item_phone img {
	width: 100%;
	height: 100%;
}

.item_phone {
	float: left;
	width: 60px;
	height: 60px;
}

.item_phone img {
	width: 100%;
}

.item {
	float: left;
	margin-right: 70px;
	margin-top: 30px;
	width: 200px;
}

.item a {
	text-decoration: none;
	color: black;
	font-size: 15px;
	margin-left: 40px;
	text-align: center;
}

.item a:hover {
	color: #1e59a8;
}

.part-four_til {
	margin-top: 120px;
	width: 100%;
	height: 2px;
}

.part-four_til img {
	height: 100%;
	width: 100%;
}

.part-four {
	margin-top: 60px;
	margin-left: 250px;
	width: 1100px;
}

.list-one {
	float: left;
}

.list-one tr {
	height: 60px;
	background-color: #1e59a8;
}

.list-one td {
	width: 160px;
}

.list-one a {
	text-decoration: none;
	color: white;
	font-size: 20px;
}

.list-two {
	margin-left: 250px;
}

.list-two td {
	width: 250px;
}

.list-two a {
	text-decoration: none;
	color: black;
	font-size: 8px;
}
.bottom_logo {
	height: 60px;
}

.bottom_logo img {
	height: 100%;
}

.bottom {
	margin-top: 150px;
	float: left;
}

.bottom p {
	text-align: center;
}

.bottom_logo0 {
	float: left;
	margin-right: 50px;
}

